.search-box{
    margin: 0 auto;
    text-align: center;
}
#h3{
    color:#006666;
    margin: 10px; 
    height: 20px; 
    text-align: center;
}
#buscar{
    background-color: #009999;
    border-color: #009999;
    font-size: medium;
    color: #000;
    width:80px;
    height:26px;
}
#text{
    border-color: #b2dba1;
    width:280px;
    height:20px;
}
.result-box{
    margin-top: 10px;
    width: auto;
    border-top: solid 1px #0d3349 ;
    text-align: center;  
}
.box1{
    color: #953b39;
    float: left;
    width: 500px;
    border-style:solid;
    background-color: #f9dbdb;
    border: 1px solid #e9b3b3;
    border-radius: 1em;
    box-shadow: black 0.2em 0.2em 0.9em;
}

.box2{
    color: slateblue;
    float: right;
    width: 500px;
    border-style:solid;
    background-color: #e2e2f9;
    border: 1px solid #bebde9;
    border-radius: 1em;
    box-shadow: black 0.2em 0.2em 0.9em;
}
ul#results li:hover{
    cursor: pointer;
    font-weight: bold;
    color: #953b39;
}
li{
    list-style: none;
}
ul{
    -webkit-padding-start: 0px;
}