.search-box{
    margin: 0 auto;
    text-align: center;
}
#h3{
    color:darkgreen;
    margin: 10px; 
    height: 20px; 
    text-align: center;
}
#buscar{
    background-color: #b2dba1;
    border-color: #b2dba1;
    font-size: medium;
    color: #000;
    width:80px;
    height:26px;
}
#text{
    border-color: #b2dba1;
    width:280px;
    height:20px;
}
.result-box{
    margin-top: 10px;
    width: auto;
    border-top: solid 1px #0d3349 ;
    text-align: center;  
}

