{% extends "AcmeDemoBundle::informatorioBase.html.twig" %}

{% block informatorio %}
    {#{parent()}#}
    <h1>Hello <b>{{ name }}</b></h1>
    {{render(controller("AcmeDemoBundle:Demo:component1"))}}
{% endblock %}

{% set code = code(_self) %}
    